(
    open_help: Some(( code: F(1), modifiers: "")),

    move_left: Some(( code: Char('h'), modifiers: "")),
    move_right: Some(( code: Char('l'), modifiers: "")),
    move_up: Some(( code: Char('k'), modifiers: "")),
    move_down: Some(( code: Char('j'), modifiers: "")),
    
    popup_up: Some(( code: Char('p'), modifiers: "CONTROL")),
    popup_down: Some(( code: Char('n'), modifiers: "CONTROL")),
    page_up: Some(( code: Char('b'), modifiers: "CONTROL")),
    page_down: Some(( code: Char('f'), modifiers: "CONTROL")),
    home: Some(( code: Char('g'), modifiers: "")),
    end: Some(( code: Char('G'), modifiers: "SHIFT")),
    shift_up: Some(( code: Char('K'), modifiers: "SHIFT")),
    shift_down: Some(( code: Char('J'), modifiers: "SHIFT")),

    stash_open: Some(( code: Char('l'), modifiers: "")),

    exit_popup: Some(( code: Char('q'), modifiers: "")),
)
